// size the blueprint grid here for this media size
// calculated using http://bgg.kematzy.com/
//
// grid strategy is to make the columns close to the
// same size for each grid width.
//
$blueprint-grid-columns: 12;
$blueprint-container-size: 767px;
@include set_media_options('768');

// turn some stuff off
.tiny-logo { display: none; }

// .foreclosed, .hope, .logo, .quote, .sucks { display: inline;}

header {

	.foreclosed {
	  @include column(1);
	  padding-top: 114px;
	  img { margin-left: -11px; } }

	.hope {
	  @include column(4);
		.wrapper {
	  	margin: 64px 22px 0 0;
		}
	  text-align: center;
	  font-size: 1.45em;
	  font-weight: bolder;
	}

	.logo {
		@include column(2);
		img {
			margin-left: -88px;
	    position: absolute; } }

	.quote {
	  @include column(4);
		text-align: right;
		.wrapper {
			// @if $blueprint_debugging { background-color: $orangina; }
			margin: 33px 30px 0 6px;
		  span.fight {
			  font-size: 1.35em;
				text-align: left;
				display: block; }
			span.pe {  text-align: left; } } }

	.sucks {
	  @include column(1, true);
	  img {
	    margin-top: 57px;
	    margin-left: -44px; } } }

div[role="main"] {
	min-height: 444px;

	.soon {
		padding: 0 66px;
		text-align: center;
		font-size: 4em;
	}

	.little-contento { display: none; }
	.contento {
		display: block;

		// set column widths here
		.left {
			@include column(3);
			margin-top: 18px; }
		.middle { @include column(6); }
		.right {
			@include column(3, true);
			margin-top: 36px; }
	}
}
