<div class="foreclosed">&nbsp;</div>
<div class="hope">&nbsp;</div>
<div class="logo">&nbsp;<img alt="BANKofBS" src="/img/header.png"></div>
<div class="quote">&nbsp;</div>
<div class="sucks">&nbsp;</div>
