<div id="legalese">&copy; 2013 all rights federally reserved</div>
<div id="contacto"><a href="mailto:fatkat@bankofbs.com">contact this bank</a></div>
<%#
<div id="subscribe">
    <span>
        <a href="http://feeds.feedburner.com/bankofbs">
            subscribe &nbsp;<img src="/img/rss.gif" alt="subscribe to RSS feed"/>
        </a>
    </span>
</div>
%>