
<div class="foreclosed">
    <a href="/index.html"><img alt="home" src="/img/home.png"></a>
</div>
<div class="hope">
  <div class="wrapper">&nbsp;</div>
</div>
<div class="logo">&nbsp;<img alt="BANKofBS" src="/img/header.png"></div>
<div class="quote">
	<div class="wrapper">&nbsp;</div>
</div>
<div class="sucks">
    <img src="/img/sucks.png" alt="this bank sucks"/>
</div>

</div>



