
<div class="foreclosed">
    <a href="/index.html"><img alt="home" src="/img/home.png"></a>
</div>
<div class="hope">
	<%# Herein lies a message of hope, peace, and understanding, between all people.
    where in by joining together to put one evil corporation out of business we can
    all make the world a better place for generations to come. %>
    put one evil corporation<br/>
    out of business &trade;
</div>
<div class="logo">&nbsp;<img alt="BANKofBS" src="/img/header.png"></div>
<div class="quote">
    <span>"fight the power..."</span>
    - P. Enemy
</div>
<div class="sucks">
    <img src="/img/sucks.png" alt="this bank sucks"/>
</div>

</div>
