<div class="top_level little-contento">
	<div class="quote">
		<%= partial "quote" %>
	</div>
	<div class="rant">
		<span>here at BANK of BS,</span> we are dedicated to making the world a better place by
		helping people to stop banking at banks that suck. we know they
		suck, and yet, keep giving them our money. it doesn't have to
		be that way. if everyone stops giving them their business, they
		will go away. we encourage people to patronize business that provide services
		that are right and good for a fair price. we discourage the patronage of companies
		that count on distracted customers paying for ridiculous fees to use the money that
		said customers actually lent the bank at 0% interest.
	</div>
	<div><img src="/img/m0n3y_300.png" ></div>
	<div class="info">
		when you get home, or just into the other room, be sure to check out the full
		website on either your actual computer or your tablet, even if you got suckered
		into paying $700 for a tablet that was made in a chinese factory where everyone commits suicide.
		there are lots of things there. free money you can print yourself. a store where you
		can buy stickers and tshirts. good ideas on what you can do instead of using
		one of the banks that suck and excellent infographics.
	</div>
</div>

<div class="top_level contento">
	<div class="left">left</div>
	<div class="middle">middle</div>
	<div class="right">right</div>
</div>

<div class="top_level homeo">
hope you get to keep your home
</div>

<div class="top_level sucko">
bank of america
</div>