<div class="top_level little-contento">
	<div class="quote">
		<%= partial "quote" %>
	</div>
	<div class="rant">
		<span>RANT</span>
		rant text goes here
	</div>

</div>

<div class="top_level contento">
	<div class="left">left</div>
	<div class="middle">middle</div>
	<div class="right">right</div>
</div>

<div class="top_level homeo">
hope you get to keep your home
</div>

<div class="top_level sucko">
bank of america
</div>