// main file for your site's css
//
@import "blueprint/grid";
@import "blueprint/debug";

@import "partials/base";

@import "partials/media/debugging";

// blueprint default(s), that in fact, don't change
$blueprint-grid-margin: 10px;

// size the blueprint grid here for 320px view, our default
// values calculated using http://bgg.kematzy.com/
//
// grid strategy is to make the columns close to the
// same size for each grid width.
//
$blueprint-grid-columns: 5;
$blueprint-container-size: 316px;

body {
	background-color: #ddd;
	background-image: url('/img/stripes.png');
	padding-top: 13px;
}

header {
	// hide stuff that shows up in the bigger pages
	.foreclosed, .hope, .quote, .sucks { display: none; }

	background-color: #cf9;
	background-image: url('/img/greenies.png');
	color: #444;
	border: solid 1px #303030;
	border-bottom: solid 3px #000;
	margin-bottom: 44px;
	margin-top: 3px;
	height: 142px;

	img {
    z-index: 99;
    overflow: visible;
    position: absolute; }

  .logo img {
		margin-left: 11px;
		margin-top: -9px; }

}

.quote {
  // color: #666;
  font-size: 1.25em;
  span.fight {
	  font-size: 1.25em;
	  text-align: left;
		font-weight: bolder;
    font-style: italic; } }

div[role="main"] {
	min-height: 333px;
	// background-color: #ffc;
	background-color: #fffecf;  //#FFF566;

	border: solid 1px #303030;
	border-top: none;
	padding-top: 17px;

	.soon {
		text-align: center;
		color: #000;
		font-size: 3em;
	}

	.top_level { margin-bottom: 11px; }

	.little-contento {
		div {
			margin: 0 10px 12px 10px;
		}
		.quote {
			margin-top: 7px;
			span.fight {
				margin-right: 11px; }
			span.pe {

				}}
		.rant {
			background-color: $orangina;
			border: solid 1px #aaa;

			padding: 11px;
			height: 222px;
		}

	}

	.contento {
		// @include column(12, true);
		background-color: $limon;
		height: 222px;
		display: none;

		.left {
			@include column(3);
			background-color: red;
		}

		.middle {
			@include column(6);
			background-color: red;
		}

		.right {
			@include column(3);
			background-color: red;
		}

	}

	.homeo {
		background-color: $limon;
		display: none;
		height: 222px;
	}

	.sucko {
		background-color: $limon;
		display: none;
		height: 222px;
	}
}

footer {
	// border: solid 1px #bbb;
	// border: solid 1px #bbb;

	// background-color: hsl(30, 100%, 88%); // $orangina;
	color: #333;
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}

// takes care of our default size, 320
@include set_media_options('320');

// these files will override defaults and each other so that we get the
// right css for the viewport size
//
// @media only screen and (min-width: 480px)  { @import "partials/media/480"; }
// @media only screen and (min-width: 600px)  { @import "partials/media/600"; }
@media only screen and (min-width: 768px)  { @import "partials/media/768"; }
// @media only screen and (min-width: 992px)  { @import "partials/media/992"; }
// @media only screen and (min-width: 1382px) { @import "partials/media/1382"; }